.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: .5rem;
    margin-left: 3.1rem;
    cursor: default;
}

.linear {
    cursor: default;
    width: 87.5%;
    min-height: 75vh;
    border-radius: 15px;
    border: 1px solid white;
    margin-left: 4.5rem;
    background-image: linear-gradient(to bottom right, #080E2F, #14257B);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
    padding: 1.75rem 0 0 0;
    gap: 1rem;
}

.menuDiv {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 1.5rem;
    margin-left: -5rem;
    margin-top: .5rem;
}

.profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: wheat;
    background-image: url('../../public/profile.jpg');
    background-repeat: no-repeat;
    background-position: start;
    background-size: 100%;
    border: 1.5px solid white;
}

.menu:hover {
    cursor: pointer;
}

.black {
    color: black;
}

.red {
    color: red;
}

.quizApp {
    cursor: pointer;
}

.quesDiv {
    margin-top: 0.75rem;
    display: flex;
    gap: 0.5rem;
}

.quizDiv {
    width: 90%;
    height: 32.5vh;
    background-color: white;
    border-radius: 10px;
    color: #0F0C2C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.heading {
    margin: 1rem 0 0 0;
    margin-left: -51rem;
}

.para {
    margin: 0 0 1rem 0;
    font-size: larger;
}

.paraOption {
    margin: 0;
    padding: 0 0 1rem 1rem;
    font-size: larger;
}

.paraBold {
    margin: 0 0 0.75rem 0;
    font-size: larger;
    font-weight: bold;
}

.title {
    margin: 0;
    margin-top: 1rem;
    color: #0F0C2C;
}

.QuizApp {
    margin: 0;
    padding: 0;
    color: white;
    cursor: pointer;
    border: 1px solid transparent;
}

.titleDiv {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0 0 0 1rem;
    border-radius: 5px;
    gap: 1rem;
    margin-bottom: 1rem;
    color: #0F0C2C;
}

.titleOption {
    margin: 0;
    color: #0F0C2C;
}

.instructionParaDiv {
    width: 21rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: red;
    font-size: small;
    margin: 1rem 0 0 21rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.paraDiv {
    padding: 0 0 0 1rem;
}

.input {
    outline: none;
    width: 25rem;
    height: 2rem;
    font-size: large;
    margin: 0.5rem 0 1rem 0;
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid black;
    padding: 0 0 0 0.25rem;
    color: #0F0C2C;
}

.option {
    outline: none;
    width: 25rem;
    height: 2rem;
    font-size: medium;
    border: none;
    margin: 0.5rem 0 1rem 0;
    background-color: transparent;
    border-bottom: 1.5px solid black;
    padding: 0;
    color: #0F0C2C;
}

.createButton {
    margin: 1rem 0 0 0;
    height: 2.25rem;
    width: 8rem;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-size: medium;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.optionDiv {
    margin: -1.5rem 0 0 0;
    padding: 0;
}

.addRemoveButton {
    height: 2rem;
    width: 7rem;
    margin-left: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #080E2F;
    color: white;
    cursor: pointer;
    margin-top: 0.5rem;
}

.optionNumber {
    margin-top: 10rem;
}

.addRemoveQuesButton {
    height: 2rem;
    width: 9rem;
    border-radius: 5px;
    border: none;
    background-color: #080E2F;
    color: white;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 50rem;
}

.createDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
   
.button {
    height: 2.75rem;
    width: 10rem;
    background-color: #0F0C2C;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: large;
    color: white;
}

.button:hover {
    cursor: pointer;
}

.errorPara {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: small;
    margin-left: 29.5rem;
    color: red;
}

.icon {
    color: red;
    position: absolute;
    margin-left: 19rem;
    margin-top: -.1rem;
}

.options {
    margin: 0.2rem;
    padding: 0.25rem;
    font-size: medium;
    cursor: pointer;
}

.myAccountDiv {
    position: absolute;
    width: 8rem;
    height: 4.3rem;
    background-color: white;
    top: 4.70rem;
    right: 5rem;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    margin-bottom: 1rem;
}

.optionsDiv {
    display: flex;
    margin: 0;
}

.noQuiz {
    margin: 1rem;
    padding: 0;
    font-size: larger;
    cursor: default;
}

.myQuizDiv {
    position: absolute;
    width: 5.5rem;
    top: 4.65rem;
    right: 27.5rem;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}


.favItem {
    display: inline-block;
    width: 40px;
    aspect-ratio: 1;
    border-image: radial-gradient(red 69%, #0000 70%) 84.5% fill/100%;
    clip-path: polygon(-41% 0, 50% 91%, 141% 0);
    background-color: transparent;
    margin: 1rem;
    cursor: pointer;
}

.itemDiv {
    display: flex;
    justify-content: space-between;
}

.favouriteQuestionsDiv {
    position: absolute;
    width: 11rem;
    top: 4.65rem;
    right: 34.55rem;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

.quizzesDiv {
    position: absolute;
    width: 5rem;
    top: 4.65rem;
    left: 26.8rem;
    border-radius: 5px;
    border: 1px solid white;
    padding: 0;
}

.loading {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    overflow-y:scroll;
    overflow-x:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    color: black;
    width: 50px;
    aspect-ratio: 1;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    display: grid;
    animation: l11 1.5s infinite linear;
    transform-origin: 50% 80%;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    border: inherit;
    border-radius: 50%;
    animation: inherit;
    animation-duration: 1s;
    transform-origin: inherit;
}

.loader:after {
    --s:-1;
}

@keyframes l11 {
    100% {transform:rotate(calc(var(--s,1)*1turn))}
}

.accountDiv {
    color: black;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.line {
    width: 100%;
    border: 1px solid black;
}

.editButton {
    width: 6rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.createButton:hover {
    cursor: pointer;
}

.editButton {
    cursor: pointer;
}