.faDiv {
    width: 21rem;
    margin-top: -0.75rem;
    display: flex;
    justify-content: center;
}

.faInnerDiv {
    width: 90%;
    display: flex;
}

.redirect1Div{
    width: 50%;
}

.redirect2Div{
    width: 50%;
    text-align: end;
}

@media screen and (max-width: 340px) {
    .faDiv {
        width: 19rem;
    }
}