.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: .5rem;
    margin-left: 3.1rem;
    cursor: default;
}

.linear {
    width: 87.5%;
    min-height: 75vh;
    border-radius: 15px;
    border: 1px solid white;
    margin-left: 4.5rem;
    background-image: linear-gradient(to bottom right, #080E2F, #14257B);
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
    cursor: default;
}

.profile {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: wheat;
    background-image: url('../../public/profile.jpg');
    background-repeat: no-repeat;
    background-position: start;
    background-size: 100%;
    border: 1.5px solid white;
}

.myAccountDiv {
    position: absolute;
    width: 8rem;
    height: 4.3rem;
    background-color: white;
    top: 4.75rem;
    right: 5rem;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    margin-bottom: 1rem;
}

.options {
    margin: .5rem 0 0 0;
    font-size: medium;
    padding: 0 .5rem 0 .5rem;
}

.options:hover {
    cursor: pointer;
}

.img {
    height: 345px;
    width: 345px;
    background-image: url('../../public/Image.png');
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 4.5rem;
    rotate: -12.5deg;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
}

.input {
    height: 2.25rem;
    width: 2rem;
    margin-top: 0px;
    margin-bottom: .5rem;
    font-size: medium;
    outline: none;
    background-color: rgba(128, 128, 128, 0.2);
    border: none;
    border-radius: 5px;
    color: #e3e3e3;
    text-align: center;
}

.inputDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.imgDiv {
    display: flex;
    align-items: center;
    width: 40%;
    left: 50%;
}

.paraDiv {
    margin-top: 0;
}

.otpPara {
    height: 2.5rem;
    width: 7rem;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 550;
    border: none;
    background-color: #779ED8;
    color: #0F0C2C;
    margin-bottom: 1.5rem;
}

.para {
    font-size: small;
}

.RegisterButton {
    height: 2.5rem;
    width: 7rem;
    border-radius: 50px;
    font-size: large;
    border: none;
    background-color: white;
    color: #0F0C2C;
    margin-bottom: 1rem;
}

.heading {
    margin-top: .5rem;
}

.link {
    text-decoration: none;
    color: #0F0C2C;
}

.instructionParaDiv {
    width: 18rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: small;
    margin-bottom: 1rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.RegisterButton:hover {
    cursor: pointer;
}

.resend {
    margin: 0;
    font-size: small;
    margin-top: .5rem;
}

.resendDiv {
    margin: 0;
}

.resend:hover {
    cursor: pointer;
}

.helloDiv {
    display: flex;
    justify-content: center;
}

.black {
    color: black;
}

.red {
    color: red;
}

.loading {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    color: black;
    width: 50px;
    aspect-ratio: 1;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 50%;
    display: grid;
    animation: l11 1.5s infinite linear;
    transform-origin: 50% 80%;
}

.loader:before,
.loader:after {
    content: "";
    grid-area: 1/1;
    border: inherit;
    border-radius: 50%;
    animation: inherit;
    animation-duration: 1s;
    transform-origin: inherit;
}

.loader:after {
    --s:-1;
}

@keyframes l11 {
    100% {transform:rotate(calc(var(--s,1)*1turn))}
}